
body {
    font-family: 'K2D', sans-serif;
    font-size: 18px;
}

header {
    background-color: rgb(73, 161, 51);
    text-align: center;
    padding: .5rem;
    color: white;
}

header > img {
    width: 150px;
    height: auto;
    vertical-align: middle;
}
.headertext {
    display: inline-block;
    vertical-align: middle;
}
.headertext h1 {
    font-size: 3rem;
}
.subheading {
    font-size: 1.1rem;
    color:rgb(6, 26, 2);
    font-style: italic;
}
.currentconditions{
    display:inline-block;
    margin: 1rem 0 1rem 5rem;
    padding: 1.2rem;
    vertical-align: middle;
    color: #fff;
    background-color: rgba(5, 15, 2, 0.75);
    border:1pt solid rgb(73, 161, 51, 1);
    font-size: 1.1rem;
}

ul{ 
    list-style-type: none;
    margin:0;
    padding: 1rem;
    background-color: rgb(13, 63, 224);
    width:100%;
    text-align: center;
}
li {
    display:inline-block;
    text-decoration: none;
    font-size: 1.5rem; 
}
li a{
    display: block;
    text-align: center;
    padding: 1.2rem; 
    color:white;
    text-decoration: none;
}
li a:hover{
    background-color: green;
}
.bannerimg{
    width:100%;
    height:50%;
}
.weathersummary{
    width:33%;
    height:10%;
    background-color:rgb(73, 161, 51, 1);
    position:relative;
    left: 0.5rem;
    top:-30rem;
    display:inline-block;
    margin: 0;
    padding: 1.2rem;
    vertical-align: middle;
    border:0.5rem solid rgb(11, 46, 2);
}
h3 {
    text-align: center;
}

.label {
    text-align: right;
    color:white; 
    padding-right: 50%;    
}
.value {
    text-align:left;
    color:yellow;
    padding-left:55%;
}
